
.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

/** -------------- Moved the hard-coded css in karthiks page. **/

#test .arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}

#outer {
    background:#FFFFFF;
    border-radius: 5px;
    color: #000;
}

#div1, #div2, #div3, #div4, #div11, #div12, #div13, #div14 {
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    float: left;
}

#div5 {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    float: left;
}


#div2 .arc {
    stroke-weight: 0.1;
    fill: #f0a417;
}

#div2 .arc2 {
    stroke-weight: 0.1;
    fill: #b00d08;
}

#div3 .arc {
    stroke-weight: 0.1;
    fill: #1d871b;
}

#div4 .arc {
    stroke-weight: 0.1;
    fill: #990000;
}


.selectedRadial {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
}

#div6, #div7, #div8, #div9{
    width: 25%;
    height: 150px;
    box-sizing: border-box;
    float: left;
}

#divheader{
    width: 100%;
    height:50px;
}

.radial {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;
}

/** ------------ CSS for MAP page---------- */
#filter {
    float : right;
}

#pho-map {
    width : 100%;
    height : 70%;
}
